@import url('https://fonts.googleapis.com/css2?family=Sansita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Roboto&family=Work+Sans&display=swap');
@import "tailwindcss";

@theme {
  --font-sf: "SF Pro Display", sans-serif;
  --font-sansita: 'Sansita One', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-aleo: 'Aleo', serif;
  --font-worksans: 'Work Sans', sans-serif;
  --color-Black: rgba(0, 0, 0, 1);
  --color-Brown: rgba(49, 49, 49, 1);
  --color-White: rgba(255, 255, 255, 1);
  --color-WhiteText: rgba(255, 255, 255, 0.7);
  --color-WhiteBg: rgba(255, 255, 255, 0.2);
  --color-FormText: rgba(255, 255, 255, 0.6);
  --color-BorderLine: rgba(255, 255, 255, 0.15);
  --color-linearUp: #C1FF3B;
  --color-linearDown: #C39452;
  --color-SummoraText: rgba(255, 255, 255, 0.3);
}

@utility border-gradient-vertical {
  border-width: 0.45px;
  border-style: solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(204, 204, 204, 0) 50.48%,
    rgba(255, 255, 255, 0.4) 100%
  );
  border-image-slice: 1;
  border-radius: 37px;
  -webkit-mask-image: radial-gradient(circle, white 100%, transparent 100%);
  mask-image: radial-gradient(circle, white 100%, transparent 100%);
  overflow: hidden;
}


@font-face {
  font-family: "SF Pro Display";
  src: url("./Fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./Fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./Fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./Fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
}


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(0, 0, 0, 1);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.custom-border {
  border-image: linear-gradient(180deg, #C7FE4F 0%, #C29551 100%);
  border-image-slice: 1;
  border-radius: 15px;
}
